<h2>Template: Dynamics</h2>
<hr>

<div class="row">
    <div class="col">
        <form [formGroup]="peopleForm" autocomplete="off" (submit)="save()">
            <ng-container *ngFor="let item of fieldsForm;">
                <div class="mb-3 row" *ngIf="!item.formListConfiguration">
                    <label for="" class="col-sm-3 col-form-label">
                        {{ item.text }}
                    </label>
                    <div class="col-sm-9">
                        <div class="input-group">
                            <input 
                                class="form-control"
                                [type]="item.type"
                                [formControlName]="item.name"
                                [required]="item.isRequired!"
                                [attr.placeholder]="item.placeHolder"
                            >
                        </div>
                        <span
                            class="form-text text-danger" 
                            *ngIf="isFieldValid(item.name)"
                        >
                            {{ item.errorMessage }}
                        </span>
                    </div>
                </div>
            </ng-container>
            

            <div class="mb-3 row">
                <label for="" class="col-sm-3 col-form-label">
                    Favorite Videogames
                </label>
                <div class="col-sm-9">
                    <div class="input-group">
                        <input 
                            class="form-control"
                            type="text"
                            [formControl]="newVideogame"
                            placeholder="Video Game :0"
                            (keyup.enter)="addVideoGame()"
                        >
                        <button
                            type="button"
                            class="btn btn-outline-primary"
                            (click)="addVideoGame()"
                        >
                            add
                        </button>
                    </div>
                    <span
                        class="form-text text-danger"
                        *ngIf="newVideogame.valid && newVideogame.touched"
                    >
                        Insert a valid videogame
                    </span>
                </div>
            </div>

            <div class="mb-3 row">
                <label for="" class="col-sm-3 col-form-label">
                    Favoritos
                </label>
                <div class="col-sm-9" formArrayName="favoriteVideoGame">
                    <div class="input-group mb-1" *ngFor="let favorite of favoritesGames.controls; let i = index;">
                        <input
                            class="form-control"
                            type="text"
                            [formControlName]="i"
                            placeholder="VideoGame"
                        >
                        <button
                            type="button"
                            class="btn btn-outline-danger"
                            (click)="removeVideoGame(i)"
                        >
                            Remove
                        </button>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="coll">
                    <button type="submit" class="btn btn-primary float-end">
                        Save
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>

<div class="row">
    <div class="col">
        <!-- <span>People Data:</span>
        <pre>{{ person | json }}</pre> -->

        <span>Form Data:</span>
        <pre>{{ peopleForm.value | json }}</pre>
    </div>
</div>
